# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.class
*.jar
*.war
*.ear

.vscode/settings.json
backend/account-service/target/*
backend/conversation-service/target/*
backend/account-service/src/main/resources/firebase-service-account.json
python_test_firebase_get_token/venv/*
