# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.class
*.jar
*.war
*.ear

.vscode/settings.json
backend/account-service/target/*
backend/conversation-service/target/*
backend/account-service/src/main/resources/firebase-service-account.json
python_test_firebase_get_token/venv/*
backend/react-service/target/classes/schema.sql
backend/react-service/target/generated-sources/annotations/com/example/react/mapper/ReactMapperImpl.java
backend/react-service/target/maven-archiver/pom.properties
backend/react-service/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
backend/react-service/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
backend/eureka-server/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
.gitignore
backend/eureka-server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
